.breadcrumb .active {
    font-weight: bold;
    border-right: 5px rgba(255, 37, 8, 0.795);
    background-color: #000;
    color: black;
}

.card-data {
    border: solid;
    padding: 20px 30px;
    color: white;
}

.card-data.order {
    background-color: teal;
}

.card-data.user {
    background-color: salmon;
}

.card-data i {
    font-size: 80px;
}

.card-desc {
    font-size: 25px;
}

.card-count {
    font-size: 25px;
}
